


<mat-toolbar>
    <span class="example-spacer"></span>
    <button mat-button class="edit-btn"(click)="edit()">Edit</button>
</mat-toolbar>


<div class="container" >
            <div class="mat-elevation-z0" [@expandContainer]="large ? 'large' : 'small' ">
                    <!-- This need to be on top -->
                    <div class='table-container'>
                        <div class="item" >
                                <div  [@expand]="large ? 'large' : 'small' ">
                                        <!-- class = "table-container"  -->


                                                <table mat-table [dataSource]="dataSource" style="width: 100%; padding-left: 10px; ">
                                                    <ng-container matColumnDef="id">
                                                        <th mat-header-cell *matHeaderCellDef>Order Id</th>
                                                        <td mat-cell *matCellDef="let order">
                                                            <div *ngIf="large; else elseBlock">
                                                                    {{order.id.substring(0,8)}}
                                                            </div>
                                                            <ng-template #elseBlock>{{order.id.substring(0,8)}}</ng-template> 
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="pickupDate">
                                                        <th mat-header-cell *matHeaderCellDef>Pickup Date</th>
                                                        <td mat-cell *matCellDef="let order">{{order.pickupDate}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="dropoffDate">
                                                        <th mat-header-cell *matHeaderCellDef>Dropoff Date</th>
                                                        <td mat-cell *matCellDef="let order">{{order.dropoffDate}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="deliveryTime">
                                                        <th mat-header-cell *matHeaderCellDef>Delivery Time</th>
                                                        <td mat-cell *matCellDef="let order">{{order.deliveryTime}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="totalCost">
                                                        <th mat-header-cell *matHeaderCellDef>Cost</th>
                                                        <td mat-cell *matCellDef="let order">{{order.totalCost}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="status">
                                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                                        <td mat-cell *matCellDef="let order">{{order?.status}}</td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="baskets">
                                                        <th mat-header-cell *matHeaderCellDef>Baskets</th>
                                                        <td mat-cell *matCellDef="let order">{{order.laundry?.baskets}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="washType">
                                                        <th mat-header-cell *matHeaderCellDef>Wash Type</th>
                                                        <td mat-cell *matCellDef="let order">{{order.laundry?.washType}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="detergent">
                                                        <th mat-header-cell *matHeaderCellDef>Detergent</th>
                                                        <td mat-cell *matCellDef="let order">{{order.laundry?.detergent}}</td>
                                                    </ng-container>
                                                
                                                    <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
                                                    <tr mat-row  class="table-row" *matRowDef= "let row; columns: columns;" (click)="onRowClick(row)"></tr>
                                                </table>
                                </div> 
                                
                        </div>
                    </div>
            </div>
            
            <div  class="item-2" [@expandDetail]="large ? 'large' : 'small' ">
                    <app-status-component [order]="order">
                            app-status-component
                    </app-status-component>
            </div>


</div>






<mat-paginator  [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons ></mat-paginator>
