@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

:host{
    display:block;
}

th.mat-header-cell {
    padding-right: 14px;
}

td.mat-cell {
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 10px;
}
tr.mat-header-row {
    background-color: white;
}

.table-container {
    /* height: 785px; */
    /* max-height: calc(87vh - 57px); */

    min-height: calc(89vh - 75px);
    height: calc(89vh - 75px);
    /* ; // or height:calc(100vh - 155px); depending on your need  change */
    overflow: auto;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix  {
    padding: 1.4375em 0 !important;
}

.mat-icon-button {
    width: 37px;
    height: 37px;
}

::ng-deep .mat-paginator-range-label {
    margin-top: 6px !important;
}

/* .large {
    width: 100%;
}

.small {
    width: 70%;
} */

.edit-btn {
    background-color: rgb(113, 145, 238);
    color: white;
}

td.mat-cell {
    height: 50px !important;
}

.example-spacer {
    flex: 1 1 auto;
}

/* .table-row {
    height: 30px !important;
} */