

.title {
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: bold;
    color: rgb(50, 77, 158);
    padding-top: 20px;
    padding: 10px;
    background-color: white;
    /* float: left;  */
    white-space: nowrap;
}

.sub-title {

    font-family: 'Helvetica Neue';
    font-size: 15px;
    color: royalblue;
    padding-top: 20px;
    /* float: left;  */
    white-space: nowrap;
    padding:10px;

}

.selected {
    background-color: royalblue;
    color: white;
    left: 0px;
}

.unselected {
    background-color: coral;
}

.newSelection {
    background-color: #5bccc5;
    color: white;
}

.save-btn {
    background-color: #7191ee;
    color: white;
    display: block;
    margin-bottom: 10px;
    margin-top: 93px;
    right: 10px;
    margin-right: 8px;
    margin-left: 10px;
    bottom: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

