

.title {
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: bold;
    color: rgb(50, 77, 158);
    padding-top: 20px;
    padding: 10px;
    background-color: white;
    /* float: left;  */
    white-space: nowrap;
}

.sub-title {

    font-family: 'Helvetica Neue';
    font-size: 15px;
    color: royalblue;
    padding-top: 20px;
    /* float: left;  */
    white-space: nowrap;
    padding:10px;

}

.selected {
    background-color: royalblue;
    color: white;
    left: 0px;
}

.unselected {
    background-color: coral;
}

.newSelection {
    background-color: #5bccc5;
    color: white;
}